.md-dialog-container{
    align-items: flex-start;
}
md-dialog {
    max-height: 85vh;
    margin-top:10vh;
}

.md-dialog-lg {
    width: 80%;
}

.md-dialog-md {
    width: 800px;
}

.md-toolbar-tools {
    height: 45px;
}

.md-icon-button + .md-datepicker-input-container {
    margin-left: -12px;
}

md-input-container span.md-label {
    padding-left: .5em;
    min-width: 90px;
}

md-input-container span.md-label:after {
    content: ':';
    display: inline-block;
    padding: .5em;
}

md-input-container span.md-label.md-required:before {
    content: '*';
    font-size: 13px;
    vertical-align: middle;
    color: red;
}

md-input-container input.md-input,
md-input-container md-select.md-select {
    display: inline-block;
    width: auto;
    float: none;
    border-bottom-color: #999;
    min-width: 180px;
}

md-input-container input.md-datepicker-input {
    min-width: 100px;
}

md-select.md-default-theme .md-select-value,
md-select .md-select-value {
    border-bottom-color: #999;
}

md-radio-button .md-label {
    top: 2px;
}

.md-center {
    transform: translate(-50%, 100px);
    left: 50%;
}

md-input-container .md-resize-wrapper {
    flex: 1;
}

md-input-container .md-resize-wrapper textarea {
    border: solid 1px rgba(96, 125, 139, .5)!important;
    overflow: auto;
    min-height: 90px;
    max-height: 90px;
}

.md-chips md-chip {
    font-size: 12px;
    height: 28px;
    line-height: 28px;
}

/*md-dialog {
    position: fixed;
    top: 10%;
    left:50%;
    transform: translate(-50%, 0);

}
*/
.md-chips md-chip .md-chip-remove-container {
    right: 4px;
    line-height: 22px;
    font-size: 18px;
    top: 4px;
    cursor: pointer;
}
md-chips.md-default-theme .md-chips.md-focused, md-chips .md-chips.md-focused{
    box-shadow:none;
}
md-grid-list md-grid-tile figure{
    justify-content:flex-start;
}
md-fab-toolbar .md-fab-toolbar-wrapper{
    height: 48px;
}
.md-button.md-fab{
    width: 36px;
    height: 36px;
    line-height: 36px;
}
md-input-container.checkbox-input span.md-label {
    padding-left: 0px;
    margin-left: 0px;
    min-width: 0px;
}
md-optgroup label{
    padding: 0 16px;
}