<div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h3 class="modal-title">合同驳回</h3>
</div>
<div class="modal-body clearfix">
    <form name="refuseform" novalidate class="form-inline">
	    <textarea cols="100" rows="3" ng-model="Remark" placeholder="请填写驳回原因"></textarea>
    </form>
</form>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
  <button class="btn btn-primary" type="button" ng-click="save()">确认</button>
</div>
