<div class="modal-header">
  <span class="close" ng-click="cancel()">&times;</span>
  <h3 class="modal-title">合同{{postDetail.ContractNo}}详情：</h3>
</div>
<div class="modal-body">
  <div class="contract-belong-info clearfix">
    <form name="contractBelongform" novalidate class="clearfix">
      <div class="form-group" style="margin: 5px">
        <label class="required">合同类型</label>：
        <span>{{postDetail.OrderType | ContractType}}</span>
      </div>
      <div class="form-group" style="margin: 5px">
        <label>合同状态</label>：
        <span>{{postDetail.OrderStatus|Contractstatus}}</span>
      </div>
      <div class="form-group" style="margin: 5px">
        <label>合同期限</label>：
        <span>{{postDetail.OrderMonths}}</span>
      </div>
      <div class="form-group" style="margin: 5px">
        <label>赠送礼包</label>：
        <span>{{postDetail.GiftMonth}}</span>
      </div>
    </form>
  </div>
  <div class="contract-belong-info clearfix">
    <div class="item clearfix" ng-repeat="(pindex, pl) in paylist">
      <div class="form-group" style="margin: 5px;height: 34px;line-height:34px;">
        <label class="required">支付方式</label>：
        <span>{{pl.PayTypeId | PayType}}</span>
      </div>
      <div class="form-group" style="margin: 5px;height: 34px;line-height:34px;">
        <label class="required">支付方账号</label>：
        <span>{{pl.PayAccountNo}}</span>
      </div>
      <div class="form-group col-md-3" style="margin: 5px;height: 34px;line-height:34px;">
        <lable class="required">支付时间：</lable>
        <span>{{pl.PayTime | tDate}}</span>
      </div>
      <div class="form-group" style="margin: 5px;height: 34px;line-height:34px;">
        <label class="required">凭证</label>：
        <div ng-if="canChange" style="display: inline-block;">
          <img ng-src="{{pl.PayImagePath}}" class="contract-img" pic-view>
        </div>
      </div>
    </div>
  </div>
  <div class="contract-belong-info clearfix">
    <div class="form-group" style="margin: 5px;">
      <label class="required">签订日期：</label>
      <span>{{postDetail.ContractDate | tDate}}</span>
    </div>
    <div class="form-group" style="margin: 5px">
      <label class="required">合同总金额：</label>
      <span>{{postDetail.Amount}}</span>
    </div>
    <div class="form-group" style="margin: 5px">
      <label class="required">服务开始时间：</label>
      <span>{{postDetail.ServiceStart | tDate}}</span>
    </div>
    <div class="form-group" style="margin: 5px">
      <label class="required">服务结束时间：</label>
      <span>{{postDetail.ServiceEnd | tDate}}</span>
    </div>
  </div>
  <div class="contract-belong-info clearfix"  style="margin: 5px">
    <label>备注信息：</label>
    <textarea cols="100" rows="3" ng-model="postDetail.Remark" readonly></textarea>
  </div>
</div>
