<md-dialog aria-label="添加组" class="md-dialog-md">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>添加组</h2> <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()"> <i class="fa fa-times"></i> </md-button>
        </div>
    </md-toolbar>
    <form name="cusform" novalidate>
        <md-dialog-content ng-cloak class="clearfix md-whiteframe-glow-z1 md-padding" style="overflow: hidden">
            <md-input-container layout="row"> <span class="md-label md-required">组名称</span>
                <input required flex required ng-model="name"> </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" md-colors="::{background: 'default-primary-100'}"> <span flex></span>
            <md-button class="md-raised md-primary" ng-disabled="cusform.$invalid" ng-click="ok($event)">保存</md-button>
            <md-button ng-click="cancel()">取消</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
